.empty-page {
  text-align: center;
  padding: 48px 0;
  max-width: 260px;
  margin: 0 auto;

  &__heading {
    font-size: 21px;
  }

  &__description {
    margin: 4px auto 12px;
    font-size: 14px;
  }
}
